# Ignore build folder
build/*

# Ignore vim tempfiles
*~

# Ignore cmake
Makefile
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Ignore anything placed in a temp directory
tmp/

# Ignore buildfiles from QT Creator
build-tuner-Desktop-Debug/
tuner/tuner.pro.user
